Repository glfs-book/slfs, pull requests merged in 2025-03, with the labels that each got.

#56 Add the Common Desktop Environment
  book/organization.xml
  cde/byacc.xml
  cde/cde-de.xml
  cde/cde.xml
  cde/ksh.xml
  cde/libutempter.xml
  cde/libxp.xml
  cde/motif.xml
  cde/ncompress.xml
  cde/printproto.xml
  index.xml
  introduction/changelog.xml
  packages.ent
  patches/cde/cde-de/cde-2.5.2-upstream-fixes.patch
Labels: new package

#64 added socat
  binary/flatpak.xml
  dev-tools/dev-tools.xml
  dev-tools/socat.xml
  packages.ent
Labels: new package

#71 Package updates and fixes
  cde/cde-de.xml
  cde/ksh.xml
  cde/motif.xml
  generate-doc-stub.py
  introduction/changelog.xml
  packages.ent
  svr4-tools/heirloom-ng.xml
  svr4-tools/heirloom-sh.xml
Labels: bug, documentation, update

#73 Fix a typo in Flatpak
  binary/flatpak.xml
Labels: documentation

#83 Add fastfetch page to General Utilities chapter
  general/genutils/fastfetch.xml
  general/genutils/genutils.xml
  introduction/welcome/changelog.xml
  packages.ent
Labels: new package

#85 Fix #84
  general/genutils/fastfetch.xml
  introduction/welcome/changelog.xml
Labels: documentation
